html{
    background: #ff785a;
    height: 100vh;
}
.teamName{
    text-align: center;
    text-decoration: bold;
}
.loginTitle{
    color: black;
    text-align: center;
}
form{
    margin: 0 auto;
    width: 250px;
}
.logo{
    
    height: 132px;
    width: 132px;
}
#image{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
}
.robotInfo{
    padding-top: 1px;
}

h1 {
    font-size: 10vh;
    font-family: 'Amaranth', sans-serif;
}